html {
  font-size: 16px;
}

.header {
  background-color: rgb(35, 2, 63);
  height: 100px;
  padding: 2.75rem 0;
}

.header h1 {
  color: #ff00ab;
  font-family: "Righteous", cursive;
  margin-bottom: 0;
  margin-top: 0;
}

.header input {
  border-radius: 19px;
  height: 38px;
  margin-right: .625rem;
}

.header .fa-search {
  background-color: #ff00ab;
  border-radius: 19px;
  color: #22013f;
  padding: .5rem;
  text-align: center;
}

.categories {
  background-color: rgb(104, 0, 255);
  color: white;
  padding-bottom: 6px;
  padding-top: 6px;
}

.detail-section {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1;
  margin-bottom: 2px;
  padding: .6rem;
}

.detail-section:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.play-button {
  color: #ff00ab;
}